* {
  font-family: 'Arial', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 1720px;
}

a {
  color: #1fa6d3;
  text-decoration: none;
}

h3 {
  margin: 5px;
  margin: 5px;
  text-align: center;
  cursor: default;
}

nav {
    width:100%;
    background-color: #272727;
}

ul, li {
    list-style: none;
}

nav a {
    margin: 0;
    width: 130px;
    display: inline-block;
    text-align: center;
}

.navDropdown {
  padding: 10px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.navDropdown:hover .navDropdownContent, .navDropdownContent:hover .navDropdownContent {
  display: block;
}

.navDropdownContent ul,.navDropdownContent li {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.navDropdownContent {
  display: none;
  position: absolute;
  height: auto;
  width: 200px;
  top: 35px;
  left: 130px;
  background-color: #272727;
  z-index: 8;
}

.navDropdownContent a {
  display: block;
  padding: 10px 20px;
  width: 160px;
  text-decoration: none;
  text-align: left;
}

.navDropdownContent a:hover {
  color: #FFF;
  background-color: #000;
}

.logo {
    width: 200px;
    height: auto;
    position:absolute;
    right: 0;
    bottom: 0;
}


.description {
  float: left;
  margin: 200px 20px 0 200px;
  width: 500px;
  font-family: 'Verdana', sans-serif;
}

#left {
  min-height: 500px;
  display: block;
  float: left;
}

#codeBox {
  padding: 10px;
  min-height: 300px;
  border: 1px dotted #999;
}

#codeArea, #codeBox, #hoverCodeArea, #hoverCode {
  font: 16px monospace;
  color: #666;
}

#center {
  width: 600px;
  position: relative;
  float: left;
  padding: 0;
}

.buttonContainer {
  height: 200px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

#customButton, #customButtonH {
  position: absolute;
  font: 23px Impact;
  color: #000000;
  background-color: #f1f5f5;
  border-radius: 8%;
  border: 1px solid #0080ff;
  padding: 10px;
  box-shadow: 2px 2px 3px #18151e;
  top: 108px;
  left: 277px;
  z-index: 0;
  cursor: pointer;
}

#customButtonH {
  visibility: hidden;
  display: none;
  z-index: 5;
  cursor: pointer;
}

#right {
  width: 400px;
  height: 100%;
  float: left;
}

.settingsTitle, .codeTitle {
  text-align: center;
  background-color: #f0f0f0;
  color: black;
  font-size: 1.2em;
  padding: 0px;
  line-height: 50px;
  box-shadow: 0px 2px 3px #999;
}

.settingsTitle {
  text-decoration:none;
  cursor: pointer;
}

.settingsLink {
    text-decoration:none;
}

.settingsContainer {
  text-align: left;
  padding: 10px;
  background-color: white;
  color:black;
  display: none;
  height: auto;
  line-height: 2em;
}

.active {
  background-color: #1fa6d3;
}

.disabled {
  color: #999;
}

@media screen and (max-width: 1000px) {
    body {
        width: 800px;
    }

    nav a {
        width: 80px;
    }

    .navDropdownContent {
        left: 80px;
    }

    #left {
        min-height: inherit;
        width: auto;
        border: none;
    }

    .description {
        width: auto;
        margin: 40px;
    }

    #center {
        width: 800px;
    }

    .buttonContainer {
        height: 100px;
        width: 100px;
    }

    #customButton, #customButtonH {
        top: auto;
        left:auto;
    }

    #codeBox {
        height: auto;
        min-height: 300px;
        padding: 10px 40px;
    }

    #right {
        width: 800px;
        height: auto;
        padding: 10px;
    }

    #hoverLink {
        display: none;
    }

    .logo {
        display: none;
}
